body {
  background-image: url("abroad-travel-tips.jpg");
}

#result {
	font-size: 26px
}
#header {
	background-color: transparent;
	color: teal;
	font-family: cursive;

}
#mission {
	background-color: transparent;
	color: teal;
	font-family: cursive;
}
#quiz_result {
	color: teal;
	font-family: cursive;
}
#quiz {
	color: teal;
	font-family: cursive;
	background-color: white;
	margin-left: 380px
}