body {
  background-image: url("abroad-travel-tips.jpg");
}

#result {
	font-size: 26px
}
#header {
	background-color: transparent;
	color: teal;
	font-family: cursive;

}
#mission {
	background-color: transparent;
	color: teal;
	font-family: cursive;
}
#quiz_result {
	color: teal;
	font-family: cursive;
}
#quiz {
	color: teal;
	font-family: cursive;
	background-color: white;
	margin-left: 380px;
}
#Question_1 {
	color: teal;
	font-family: cursive;
	margin-top: 30px;
	margin-left: 120px;
}
#Answers_1a {
	color: teal;
	font-family: cursive;
	margin-left: 120px;
}
#Answers_1b {
	color: teal;
	font-family: cursive;
	margin-left: 120px;
}
#Answers_1c {
	color: teal;
	font-family: cursive;
	margin-left: 120px;
}
.btn {
	color: teal;
	font-family: cursive;
	background-color: white;
}